h1 {
  font-size: 25px;
  text-decoration: underline;
  text-decoration-color: rgb(46, 175, 226);
  line-height: 2.5rem;
  margin-bottom: 30px;
}
.userContent {
  padding: 20px;
  /* position: relative; */
}

ol {
  padding-left: 35px;
  /* margin-top: 15px; */
}
span {
  font-weight: 700;
}
.counter {
  font-weight: 700;
  font-size: 20px;
}
.top-section {
  display: flex;
  justify-content: space-between;
}
